[submodule "jellyfin"]
	path = submodules/jellyfin
	url = git@github.com-personal:evertonfxavier/jellyfin-server.git
	branch = master
[submodule "jellyfin-web"]
	path = submodules/jellyfin-web
	url = git@github.com-personal:evertonfxavier/jellyfin-web.git
	branch = master
