[submodule "jellyfin"]
	path = submodules/jellyfin
	url = https://github.com/evertonfxavier/jellyfin-server.git
	branch = master
[submodule "jellyfin-web"]
	path = submodules/jellyfin-web
	url = https://github.com/evertonfxavier/jellyfin-web.git
	branch = master
